<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="username">Username</label>
          <input
            type="text"
            id="username"
            formControlName="userName"
            class="form-control">
            <span class="help-block" 
            *ngIf="!signUpForm.get('userName').valid && 
            signUpForm.get('userName').touched">
            <span class="help-block" *ngIf="signUpForm.get('userName').errors.minlength">
              <p>    User Name must be at least 4 characters long.
                </p>
            </span>
            <span class="help-block" *ngIf="signUpForm.get('userName').errors.required">
                  <p>Please enter User Name</p>
              </span>
              <span class="help-block" *ngIf="signUpForm.get('userName').errors.required">
                  <p>Please enter User Name</p>
              </span>

            </span>
          </div>
        <div class="form-group">
          <label for="email">email</label>
          <input
            type="text"
            id="email"
            formControlName="email"
            class="form-control">
            <span class="help-block" 
            *ngIf="!signUpForm.get('email').valid && 
            signUpForm.get('email').touched">
              <p class="alert-danger">Please enter Email</p>
            </span>
        </div>
       

        <button class="btn btn-primary" type="submit" [disabled]="!signUpForm.valid">Submit</button>
      </form>
    </div>
  </div>
</div>
